<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" >dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<!--  -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-card size-sm="12" size-md="6" offset-md="3">
            <form [formGroup]="questionForm" (ngSubmit)="onAddQuestion()">
              <div formArrayName="addDynamicElement">
                <h5 class="ion-text-center">Add New Question</h5>
                <ion-input 
                  type="text"
                  color="primary"
                  name="header"
                  #headerValue
                ></ion-input>
                <div class="mb-3">
                    <ion-button type="button" (click)="addItems()"> add</ion-button>
                    <ul>
                      <li *ngFor="let item of addDynamicElement.controls;let i = index">
                        <ion-input type="text" [formControlName]="i"></ion-input>
                        <ion-checkbox checked="false" [formControlName]="i"></ion-checkbox>
                      </li>
                    </ul>
                </div>
                <ion-button type="submit">Save</ion-button>
              </div>
              
            </form>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




<!-- 

  <form (submit)="onAddQuestion(questionForm)" #questionForm="ngForm">
              <ion-item>
                <ion-label position="floating">Question</ion-label>
                <ion-input 
                  type="text"
                  color="primary"
                  name="header"
                  [ngModel]="header"
                ></ion-input>
              </ion-item>
                <ion-item>
                  <ion-label position="floating">First Answer</ion-label>
                  <ion-input 
                    type="text"
                    name="firstAnswer"
                    [ngModel]="firstAnswer"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Second Answer</ion-label>
                  <ion-input 
                    type="text"
                    name="secondAnswer"
                    [ngModel]="secondAnswer"
                    ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Third Answer</ion-label>
                  <ion-input 
                    type="text"
                    name="thirdAnswer"
                    [ngModel]="thirdAnswer"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Fourth Answer</ion-label>
                  <ion-input 
                    type="text"
                    name="fourthAnswer"
                    [ngModel]="fourthAnswer"
                  ></ion-input>
                </ion-item>
                <ion-button type="submit">
                  add
                </ion-button>
            </form>
 -->